{% extends 'base.html.twig' %}

{% block title %}Forgot Password::KSSB{% endblock %}

{% block content %}
    {% if (resent is defined) %}
        <div class="row setup-content-3" id="step-5">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>New Password Sent!</strong></h3>
                Your new password have been emailed to <strong>"<i>{{user.getEmail()}}</i>"</strong>. The mail may hit your INBOX or SPAM directory. If you do not get the mail please give some time.<br /><br />
                <a href ="{{path('login')}}" class="btn btn-sm btn-primary">Login to proceed</a>
            </div>
        </div>
    {% elseif (erroroverload is defined)%}
        <div class="row setup-content-3" id="step-5">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Too many requests!</strong></h3>
                We could not respond to your request because the server is currently overloaded with too many requests. Please try again later <br /><br />
                <a href="{{path('changepassword')}}" class="btn btn-secondary btn-sm">Back</a>
            </div>
        </div>
    {% elseif (error is defined)%}
        <div class="row setup-content-3" id="step-5">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Account Does Not  Exists!</strong></h3>
                We could not find an account with the email "{{email}}". Verify that the email address is typed correctly. Also note that accounts that has not been paid are deleted after 48 hours. <br /><br />
                <div class='alert alert-info' role='alert'>For complains contact support team <a href="">here</a></div><br />
                <a href="{{path('changepassword')}}" class="btn btn-secondary btn-sm">Back</a>
            </div>
        </div>

    {% else %}
        <div class="row">
            <div class="col-1 col-sm-4">
            </div>
            <div class="col-10 col-sm-4">
                <h3> Get New Password </h3>
                <form action="{{path('changepassword')}}" method="POST">
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn-secondary btn" id="submit">Send New Password</button>
                    </div>
                </form>
            </div>
            <div class="col-1 col-sm-4">
            </div>
        </div>     
    {% endif %}

{% endblock content %}
