{% extends 'admin_general.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-plus fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="registered">{{userstat['registered']}}</div>
                            <div>Accounts Created</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="paid">{{userstat['paid']}}</div>
                            <div>Accounts Paid</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-ok fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="completed">{{userstat['completed']}}</div>
                            <div>Applications Completed</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 text-center' >
            <br />
            <span id='slow' class='alert alert-warning' role='alert' style='display:none;'>
                Slow or no network detected. Check your Internet connection!
            </span>
            <br />
            <br />
        </div>
    </div>
{% endblock content %}
{% block js %}
    {{parent()}}
    <script type="text/javascript">
        refreshRegistered();
        refreshPaid();
        refreshCompleted();

        function refreshRegistered() {

            $.ajax({
                url: '{{path('countregisteredajax')}}',
                type: 'get',
                error: function (jqXHR, textStatus, errorThrown) {                   
                    showSlowNetworkNotice();
                    setTimeout(refreshRegistered, 3000);
                }
            }).done(function (data) {

                $('#registered').text(data);
                $("#slow").fadeOut();
                setTimeout(refreshRegistered, 10000);
            });
        }
        function refreshPaid() {
            $.ajax({
                url: '{{path('countpaidajax')}}',
                type: 'get',
                error: function (jqXHR, textStatus, errorThrown) {
                    showSlowNetworkNotice();
                    setTimeout(refreshPaid, 3000);
                }
            }).done(function (data) {
                $('#paid').text(data);
                $("#slow").fadeOut();
                setTimeout(refreshPaid, 10000);
            });
        }
        function refreshCompleted() {
            $.ajax({
                url: '{{path('countcompletedajax')}}',
                type: 'get',
                error: function (jqXHR, textStatus, errorThrown) {
                    showSlowNetworkNotice();
                    setTimeout(refreshCompleted, 3000);
                }
            }).done(function (data) {
                $('#completed').text(data);
                $("#slow").fadeOut();
                setTimeout(refreshCompleted, 10000);
            });
        }

        function showSlowNetworkNotice() {
            $("#slow").fadeIn();
        }
    </script>
{% endblock js %}