<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Summary Sheet</title>
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}" type="image/x-icon">
        <!-- Bootstrap CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('fontawesome/css/fontawesome-all.min.css')}}" />
            <link href="{{asset('open-iconic/font/css/open-iconic-bootstrap.css')}}" rel="stylesheet" />
        {% endblock stylesheets %}
        <style rel='stylesheet'>

            #recordstb{
                border-collapse: collapse;
                border-width: 1px;
                border-style: solid;
                border-color:#d7d0d0;
                font-size: 0.7em;
                width:100%;
            }

            #recordstb tr{
                border-collapse: collapse;
                border-width: 1px;
                border-style: solid;
                border-color:#d7d0d0;
            }
            #recordstb td, #recordstb th{
                border-collapse: collapse;
                border-width: 1px;
                border-style: solid;
                border-color:#d7d0d0;
                overflow: hidden;
                word-break: keep-all;
                white-space: nowrap;
            }

            #recordstb th{
                background-color: #d7d0d0;
            }
            @page {
                size: A4;
                margin: 3mm;
            }

            @media print{
                #actions{
                    display: none;
                }
            }

        </style>
    </head>

    <body>
        <table id = 'recordstb'>
            <thead>
                <tr>
                    {% if 'appid' in cols %}
                        <th>AppId</th>
                        {% endif %}
                        {% if 'name' in cols %}
                        <th>Name</th>
                        {% endif %}
                        {% if 'sex' in cols %}
                        <th>Sex</th>
                        {% endif %}
                        {% if 'matricno' in cols %}
                        <th>MatricNo.</th>
                        {% endif %}
                        {% if 'gsm' in cols %}
                        <th>Mobile No.</th>
                        {% endif %}
                        {% if 'email' in cols %}
                        <th>Email</th>
                        {% endif %}
                        {% if 'bank' in cols %}
                        <th>Bank</th>
                        {% endif %}
                        {% if 'accno' in cols %}
                        <th>AccountNo</th>
                        {% endif %}
                        {% if 'bvn' in cols %}
                        <th>BVN</th>
                        {% endif %}
                        {% if 'institution' in cols %}
                        <th>Institution</th>
                        {% endif %}
                        {% if 'inst_cat' in cols %}
                        <th>InstitutionCategory</th>
                        {% endif %}
                        {% if 'course' in cols %}
                        <th>Course</th>
                        {% endif %}
                        {% if 'level' in cols %}
                        <th>Level</th>
                        {% endif %}
                        {% if 'lga' in cols %}
                        <th>LGA</th>
                        {% endif %}
                        {% if 'ward' in cols %}
                        <th>Ward</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for rec in data %}
                    <tr>
                        {% if 'appid' in cols %}
                            <td>{{rec['appId']}}</td>
                        {% endif %}
                        {% if 'name' in cols %}
                            <td>{{rec['surname']~" "~rec['firstName']~" "~rec['otherNames']}}</td>
                        {% endif %}
                        {% if 'sex' in cols %}
                            <td>{{rec['gender']|capitalize}}</td>
                        {% endif %}
                        {% if 'matricno' in cols %}
                            <td>{{rec['matricNo']}}</td>
                        {% endif %}
                        {% if 'gsm' in cols %}
                            <td>{{rec['mobileNo']}}</td>
                        {% endif %}
                        {% if 'email' in cols %}
                            <td>{{rec['email']}}</td>
                        {% endif %}
                        {% if 'bank' in cols %}
                            <td>{{rec['bankName']}}</td>
                        {% endif %}
                        {% if 'accno' in cols %}
                            <td>{{rec['accountNo']}}</td>
                        {% endif %}
                        {% if 'bvn' in cols %}
                            <td>{{rec['bvn']}}</td>
                        {% endif %}
                        {% if 'institution' in cols %}
                            <td>{{rec['institutionName']}}</td>
                        {% endif %}
                        {% if 'inst_cat' in cols %}
                            <td>{{rec['institutionCategory']|replace({'_':' '})|capitalize}}</td>
                        {% endif %}
                        {% if 'course' in cols %}
                            <td>{{rec['courseOfStudy']}}</td>
                        {% endif %}
                        {% if 'level' in cols %}
                            <td>{{rec['level']}}</td>
                        {% endif %}
                        {% if 'lga' in cols %}
                            <td>{{rec['lgaName']}}</td>
                        {% endif %}
                        {% if 'ward' in cols %}
                            <td>{{rec['wardName']}}</td>
                        {% endif %}
                    </tr>                
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>