<!doctype html>
<html>
    <head>        

    </head>
    <body style="background-color:#e7e9f1;
          color:#666666;">

        <div id="kssb-body" style="width:600px;
             margin-left:auto;
             margin-right:auto;
             background-color:#ffffff;
             font-family: arial;
             font-size:1em;
             box-shadow:1px 1px 2px 1px #cccccc;">
            <div id="kssb-heading" style="background:linear-gradient(180deg, #f3f6fd, #002a80); 
                 background-image: url('{{absolute_url(asset('site_images/blueish.jpeg'))}}');
                 height:120px;
                 padding-left:20px;
                 padding-right:20px;
                 box-shadow:0px 2px 1px 1px #cccccc;">
                <div style="display:inline-block; width:90px;height: 120px;">
                    <img  style='width:90px;' src='{{absolute_url(asset('site_images/kogi_map_small.png'))}}' />
                </div>
                <div style="display:inline-block; width:340px;height: 120px;text-align: center;">

                    <h2 style="color: #e3e4fa;
                        font-family: Arial Black, Arial Bold, Arial;
                        font-weight:900;
                        text-align: center;"
                        >Kogi State Scholarship Board</h2> 
                    <span style="color:#f74e0d; 
                          color:#ef6947; 
                          font-size:1.4em;
                          font-weight:600;"
                          >Lokoja-Kogi State</span>
                </div>
                <div style="display:inline-block; width:90px; height: 120px;">
                    <img style='width:90px;' src='{{absolute_url(asset('site_images/state_logo.png'))}}' />
                </div>
            </div>
            <div id="kssb-content" style="padding:10px;">
                {% block content %}

                {% endblock content %}
            </div>
            <div id="kssb-footer" style="padding:10px;
                 text-align:center;
                 font-size:0.8em;">
                <hr id='footer-hr' style="width:70%;
                    border-width:0.1em;
                    border-color:#cccccc;	
                    border-style:solid;"/>
                For support request please contact us by going through our <a href="{{url('contactus')}}">support page</a><br />
                This e-mail has been sent to you by Kogi State Scholarship Board (KSSB) Lokoja-Kogi.<br />
                Copyright &copy; {{"now"|date("Y")}} KSSB


            </div>
        </div>        
    </body>
</html>