{% extends 'form_general.html.twig' %}

{% block formbody %}
    <!-- Second Step -->
    <div class="row setup-content-3" id="step-6">
        <div class="col-md-12">
            <h3 class="font-weight-bold pl-0 my-4"><strong>Payment</strong></h3>
            {% if candidate.getPaid() == false %}
                Verify transaction details and click "Pay Securely" button <br /><br />
                {% if error is defined and error == true %}
                    <div class="alert alert-danger" role="alert">
                        {{ (errmsg is defined)?(errmsg):('Something went wrong. Check your network connection.')}}! Please try again.
                    </div>
                {% endif %}
                <table class="table table-bordered table-sm table-active">
                    {% if candidate.getCandidatePersonal() is not null %}
                    <tr><th>Full Name:</th><td>{{candidate.getCandidatePersonal().getFullName()}}</td></tr>
                    {% endif %}
                    <tr><th>Email:</th><td>{{candidate.getEmail()}}</td></tr>
                    <tr><th>Amount:</th><td>&#8358;{{session.getRegistrationCost()|number_format(2,'.',',')}} <span class="badge badge-info">Payment gateway service charge included</span></td></tr>
                </table>
                <form action="{{url('form_2')}}" method="post">
                    <input type="hidden" name="pay" value="pay" />
                    <div class="text-center"><input type="submit" class="btn btn-primary btn-sm" name="paysecurely" value="Pay Securely" /> <br /><br /><img src="{{asset("site_images/paystack_cards.png")}}"style="width:200px; height:60px;"/> </div>
                </form>
            {% else %}
                <h3>Payment for {{session.getScholarshipSession()}} KSSB scholarship was made</h3>
                <p>Your payment for {{session.getScholarshipSession()}} KSSB scholarship has been made. Find below the details.</p>
                <table class="table table-sm table-bordered table-success">
                    {% if candidate.getCandidatePersonal() is not null %}
                        <tr><th>Full Name:</th><td>{{candidate.getCandidatePersonal().getFullName()}}</td></tr>
                    {% endif %}
                    <tr><th>Email:</th><td>{{candidate.getEmail()}}</td></tr>
                    <tr><th>Amount:</th><td>&#8358;{{session.getRegistrationCost()|number_format(2,'.',',')}} <span class="badge badge-info">Payment gateway service charge included</span></td></tr>
                </table>
                <div class="text-right"><a href ="{{path('form_3')}}" class="btn btn-primary btn-sm">Proceed</a></div>

            {% endif %}

        </div>
    </div>
{% endblock formbody %}